body{
        font-family: Verdana, Geneva, sans-serif;
    background-image: url("../img/background.png")
    }
header{
        background-color:#FFDAD7;
        text-align:center;
        font-size: 30px;
        border: 1px solid#FFFAFF;
        }
.navbar{
        background-color:#FFFAFF;
        border:solid #D9BFC8;
        font-size:15px;
        position:sticky;
        top: 0px
}
.navbar th{
        border:solid #D9BFC8;
        padding:5px;
}
footer{
        background-color:#D9BFC8;
       color:#FFFAFF;
       font-size:12px;
       border:3px solid #FFFAFF;
       padding-left: 5px;
}
.profile{
        text-align:center;
}
.dropdown{
        display: inline-block;
}
.dropdown-content {
        display: none;
        position: absolute;
        color:#000000;	
        padding:5px;
        background-color: #FFFAFF
}
.dropdown:hover .dropdown-content{
        display : block;
        box-shadow: 5px 5px 12px;
}
.active {
        background-color:#FFDAD7
}